<div class="rounded-2xl border border-(--border) bg-white shadow-sm">
  <div class="flex items-center justify-between px-6 py-5">
    <h2 class="text-2xl font-semibold ">Recent Tools</h2>

    <div class="flex items-center gap-2 text-sm text-(--text-grey)">
      <lucide-icon [img]="Calendar" class="h-4 w-4"></lucide-icon>
      <span>Last 30 days</span>
    </div>
  </div>

  <div class="overflow-x-auto px-6 pb-6">
    <table class="w-full border-collapse table-fixed min-w-225">
      <thead>
      <tr class="border-b border-(--border)">
        <th class="w-[35%] thead-recent-tool cursor-pointer select-none">
          <div class="flex flex-row items-center gap-1">
            Tool
            <span>
              <lucide-icon [img]="ChevronUp" (click)="sort('name', 'asc')"></lucide-icon>
              <lucide-icon [img]="ChevronDown" (click)="sort('name', 'desc')"></lucide-icon>
            </span>
          </div>
        </th>

        <th class="w-[30%] thead-recent-tool cursor-pointer select-none">
          <div class="flex flex-row items-center gap-1">
            Department
            <span>
              <lucide-icon [img]="ChevronUp" (click)="sort('category', 'asc')"></lucide-icon>
              <lucide-icon [img]="ChevronDown" (click)="sort('category', 'desc')"></lucide-icon>
            </span>
          </div>
        </th>

        <th class="w-[10%] thead-recent-tool cursor-pointer select-none">
          <div class="flex flex-row items-center gap-1">
            Users
            <span>
              <lucide-icon [img]="ChevronUp" (click)="sort('active_users_count', 'asc')"></lucide-icon>
              <lucide-icon [img]="ChevronDown" (click)="sort('active_users_count', 'desc')"></lucide-icon>
            </span>
          </div>


        </th>

        <th class="w-[15%] thead-recent-tool cursor-pointer select-none">
          <div class="flex flex-row items-center gap-1">
            Monthly Cost
            <span>
              <lucide-icon [img]="ChevronUp" (click)="sort('monthly_cost', 'asc')"></lucide-icon>
              <lucide-icon [img]="ChevronDown" (click)="sort('monthly_cost', 'desc')"></lucide-icon>
            </span>
          </div>
        </th>

        <th class="w-[10%] thead-recent-tool cursor-pointer select-none">
          <div class="flex flex-row items-center gap-1">
            Status
            <span>
              <lucide-icon [img]="ChevronUp" (click)="sort('status', 'asc')"></lucide-icon>
              <lucide-icon [img]="ChevronDown" (click)="sort('status', 'desc')"></lucide-icon>
            </span>
          </div>
        </th>
      </tr>
      </thead>

      <tbody>
        @for (tool of tools; track tool.id) {
          <tr class="border-b border-(--border)">
            <td class="w-[35%] py-5">
              <div class="flex items-center gap-3">
                <span class="text-lg">
                 @if (!tool.imageError) {
                   <img src="{{tool.icon_url}}" alt="{{tool.name}}-icon" class="h-3 w-3"
                        (error)="tool.imageError = true">
                 }
                  @if (tool.imageError) {
                    <lucide-icon [img]="ImageOff" class="h-3 w-3"> </lucide-icon>
                  }
                </span>
                <span class="font-medium">{{ tool.name }}</span>
              </div>
            </td>
            <td class="w-[30%] py-5">{{ tool.category }}</td>
            <td class="w-[10%] py-5">{{ tool.active_users_count }}</td>
            <td class="w-[15%] py-5">{{ tool.monthly_cost }}</td>
            <td class="w-[10%] py-5">

              @if (tool.status === "active") {
                <span
                  class="inline-flex rounded-full [background:var(--gradient-green)] px-3 py-1 text-xs font-semibold text-white">{{ tool.status | capitalize }}</span>
              }
              @if (tool.status === "expiring") {
                <span
                  class="inline-flex rounded-full [background:var(--gradient-orange)] px-3 py-1 text-xs font-semibold text-white">{{ tool.status | capitalize }}</span>
              }
              @if (tool.status === "unused") {
                <span
                  class="inline-flex rounded-full [background:var(--gradient-pink)] px-3 py-1 text-xs font-semibold text-white">{{ tool.status |capitalize }}</span>
              }
              <!--<span class="inline-flex rounded-full bg-emerald-500 px-3 py-1 text-xs font-semibold text-white">
                Active
              </span>-->
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

