<h1><strong>Internal Tools Dashboard</strong></h1>

<div>
  <p> Monitor and manage your organization's software tools and expenses</p>
</div>


<div id="KPIs-cards" class="grid grid-cols-4 justify-items-center">

  <div class="card">
    <div class="card-header">
      <p>Monthly Budget</p>
      <i class="badge [background:var(--icon-gradient-green)] ">
        <lucide-icon class="icon-badge" [img]="TrendingUp"></lucide-icon>
      </i>
    </div>
    <div class="card-body">
      <p> {{ budget?.current_month_total | currency: "EUR" : "symbol":"1.0-0" }}
        / €{{ budget?.monthly_limit | shortNumber }}</p>

      <p class="[background:var(--gradient-green)] rounded-xl">{{ budget?.trend_percentage }}%</p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <p>Active Tools</p>
      <i class="badge [background:var(--icon-gradient-blue)]">
        <lucide-icon class="icon-badge" [img]="Wrench"></lucide-icon>
      </i>
    </div>

    <div class="card-body">
      <p> {{ activeTools }}</p>
      <p class="[background:var(--gradient-blue)] rounded-xl"> {{ trendTools }}</p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <p>Departments</p>
      <i class="badge [background:var(--icon-gradient-orange)]">
        <lucide-icon class="icon-badge" [img]="Building2"></lucide-icon>
      </i>
    </div>
    <div class="card-body">
      <p> {{ departments }}</p>
      <p class="[background:var(--gradient-orange)] rounded-xl">
        {{ trendDepartment }}
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <p>Cost/User</p>
      <i class="badge [background:var(--icon-gradient-pink)]">
        <lucide-icon class="icon-badge" [img]="Users"></lucide-icon>
      </i>

    </div>
    <div class="card-body">
      <p> {{ costPerUser }}</p>
      <p class="[background:var(--gradient-pink)] rounded-xl">
        {{ trendCostPerUser }}
      </p>
    </div>
  </div>

</div>

<br>
<app-recent-tools-tab></app-recent-tools-tab>
